
.footercontent {
    background-color:#101820  ;
    color: white;
    
  }
  .socialstyle {
    color: white;
    text-decoration: none;
   }
   .footerx {
    background-color:#101820   ;
    color: white;
    margin-top: 0%;
  }